section {
  padding: var(--space-xl) 0;
}

.hero {
  justify-items: center;
  text-align: center;
  row-gap: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--clr-neutral-100);
  padding: var(--space-s);
  box-shadow: var(--border-shadow);
  width: 100%;
  img {
    aspect-ratio: 1;
    object-fit: cover;
    min-width: 100%;
    height: 100%;
    grid-column: 3 span;
  }
}

.main-header {
  padding: var(--space-xs) 0;
  background-color: var(--clr-neutral-100);
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 10px;
      .nav-item {
      }
      .nav-link {
        position: relative;
        padding: 10px 10px;
        text-transform: uppercase;
        font-weight: var(--fw-medium);
        &:hover {
          text-decoration: none;
          background-color: var(--clr-accent);
        }
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  svg {
    aspect-ratio: 1;
    height: 2rem;
    width: 2rem;
    path {
      fill: var(--clr-green);
    }
  }
  .brand-name {
    font-size: var(--fs-400);
    color: var(--clr-green);
    text-transform: uppercase;
    font-weight: var(--fw-600);
    line-height: 0.9;
    width: min-content; /* Unsure about this one. Will break for now */
  }
}

.tags {
  display: flex;
  gap: var(--space-3xs);
  align-items: center;
  flex-wrap: wrap;
  .tag {
    font-size: var(--fs-100);
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-100);
    background-color: blue;
    border-radius: 10rem;
    padding: var(--space-2xs) var(--space-xs);
    text-transform: uppercase;
    line-height: 1;
    border: transparent;
    &[data-tag='Blommor'] {
      background-color: var(--clr-flower);
    }
    &[data-tag='Grönska'] {
      background-color: var(--clr-green);
    }
    &[data-tag='Ätbart'] {
      background-color: var(--clr-edible);
    }
    &[data-tag='Solälskande'] {
      background-color: var(--clr-sunloving);
    }
    &[data-tag='Tålig'] {
      background-color: var(--clr-robust);
    }
    &[data-tag='Dekorativ'] {
      background-color: var(--clr-decorative);
    }
    &[data-tag='Färgstark'] {
      background-color: var(--clr-colorful);
    }
    &[data-tag='Lättodlat'] {
      background-color: var(--clr-easy);
    }
    &[data-tag='Kryddor'] {
      background-color: var(--clr-air);
    }
    &[data-tag='Snabbväxande'] {
      background-color: var(--clr-fast);
    }
    &[data-tag='Luftfuktande'] {
      background-color: var(--clr-air);
    }
    &[data-tag='Doftande'] {
      background-color: var(--clr-fragrant);
    }
  }
}

.plant-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  list-style: none;
  gap: var(--gap);

  .plant-card {
    position: relative;
    display: grid;
    justify-content: flex-start;
    gap: var(--gap);
    overflow: hidden;
    background-color: var(--clr-neutral-100);
    grid-column: 12 span;
    padding: var(--space-s);
    min-width: 100%;

    box-shadow: var(--border-shadow);
    > figure {
      position: relative;
      aspect-ratio: 4/3;
      min-width: 100%;
      z-index: 1;
      img {
        min-width: 100%;
        height: auto;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        /* background-color: red; */
        background-image: url(/assets/images/icon-seedling-2.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        z-index: 20;
      }
    }
    .author {
      display: flex;
      align-items: center;
      gap: var(--space-xs);
      font-size: var(--fs-100);
    }
    .author img {
      aspect-ratio: 1;
      width: var(--fs-900);
      border: 1px var(--clr-neutral-400) solid;
      border-radius: var(--btn-border-radius);
    }
    .author-info {
      display: flex;
      flex-direction: column;
    }
  }
}

.call-to-action,
.newsletter {
  text-align: center;
  padding: var(--space-xl) 0;
  background-color: var(--clr-neutral-100);
  .wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 'image' 'content';
    grid-template-rows: auto;
    gap: var(--space-xl);
  }

  .image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-accent);
    border-radius: 100%;
    width: var(--fluid-124-188);
    height: var(--fluid-124-188);
    svg {
      height: 50%;
    }
  }
  .content {
    grid-area: content;
    display: grid;
    gap: var(--gap);
    align-items: start;
    align-content: center;
  }
  .btn {
    margin-left: auto;
  }
}

.btn {
  line-height: 1;
  font-size: var(--fs-300);
  padding: var(--space-2xs) var(--space-s);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent);
  border-radius: var(--btn-border-radius);
  min-height: var(--fluid-30-36);
  border: transparent;
  &:hover {
    text-decoration: none;
    background-color: red;
  }
}
.btn-primary {
  background-color: var(--clr-accent);
}

.signup {
  width: 100%;
  .input {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--space-3xs);
    border-radius: var(--btn-border-radius);
    border: 1px var(--clr-neutral-800) solid;
    gap: 20px;
    input {
      background-color: transparent;
      align-self: normal;
      width: 100%;
      border-radius: 20px;
      color: var(--clr-neutral-800);
      border: none;
      text-align: center;
    }
    button {
      text-transform: uppercase;
    }
  }
}

footer {
  background-color: var(--clr-accent);
  color: var(--clr-neutral-100);
  padding: var(--space-2xl) 0 var(--space-xl) 0;
  grid-template-columns: repeat(12, 1fr);

  a {
    color: var(--clr-neutral-100);
  }
  .logo {
    svg {
      path {
        fill: var(--clr-neutral-100);
      }
    }
    .brand-name {
      color: var(--clr-neutral-100);
    }
  }
  .wrapper {
    display: grid;
    grid-template-areas: 'main' 'nav';
    grid-auto-rows: auto;
    gap: var(--space-xl);

    .content {
      display: grid;
      grid-area: main;
      gap: 10px;
    }
    address ul {
      list-style: none;
      li {
        display: flex;
        gap: 10px;

        align-items: center;
      }
    }
    nav {
      grid-area: nav;
      display: none;
      color: red;
      ul {
        list-style: none;
        .nav-link {
          color: var(--clr-neutral-100);
          display: flex;
        }
      }
    }
  }
}

/*icons */

.icon {
  display: inline-flex;
  align-items: center;

  overflow: hidden;

  svg {
    background-color: red;

    object-fit: cover !important; /* Ensures content fits while preserving aspect ratio */
    path {
      width: 100%;
      height: var(--space-xs);
    }
  }
}

.plant {
}

@media (min-width: 600px) {
  .image-grid {
    img {
      grid-column: 2 span;
      &:nth-child(1) {
        grid-column: 2 span;
        grid-row: 2 span;
        background-color: yellow;
      }
      &:nth-child(2),
      &:nth-child(3) {
        grid-column: 1 span;
        height: 100%;
      }
    }
  }
  .plant-cards .plant-card {
    grid-column: 6 span;
  }
  .call-to-action,
  .newsletter {
    text-align: initial;
    .wrapper {
      grid-template-areas: 'image content';
      grid-template-columns: 1fr 2fr;
      padding: 0 var(--space-2xl);
      .content {
        justify-items: flex-start;
      }
    }
  }
  .newsletter {
    .wrapper {
      /* grid-template-areas: 'content image';
      Instead of changing the grid template itself we change the columns widths */
      grid-template-columns: 2fr 1fr;

      .image {
        /* Here we reorder */
        grid-column: 2;
      }
      .content {
        /* Here we reorder */
        grid-column: 1;
      }
    }
  }
}

@media (min-width: 900px) {
  .plant-cards .plant-card {
    grid-column: 3 span;
    > img {
      aspect-ratio: 3/4;
    }
  }
  .tags {
    .tag {
    }
  }
  footer {
    .wrapper {
      grid-template-areas: 'main nav';
      nav {
        display: initial;
      }
    }
  }
}
