@import 'reset.css'; /* Kevin Powell */
@import 'variables.css'; /* Heavily inspired by Utopia.fyi and Kevin Powell */
@import 'layout.css';
@import 'typography.css';
@import 'components.css';

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

/* Utilities */
/* .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */

/* Composition */
/* .flow > * + * {
  margin-block-start: var(--flow-space, 1em);
} */
