@import '/css/reset.css';
@import 'variables.css';
@import 'layout.css';
@import 'typography.css';
@import 'components.css';

/* Theme */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Composition */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
